* {
    background-color: rgb(33, 43, 80);
    margin: 0;
    font-family: 'VT323', 'Trebuchet MS', Arial, sans-serif;
    overflow: hidden;
}

.top {
    background-color: rgb(33, 43, 80);
    color: beige;
    height: 10vh;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    background-color: rgb(27, 35, 65);
    display: flex;
    margin: auto;
    height: 800px;
    width: 800px;
    border:double 15px rgb(18, 24, 45);
    flex-wrap: wrap;

    pointer-events: none;

}

.square {
    border:dashed 0.01mm  rgb(18, 24, 45); 
    background-color: rgb(27, 35, 65);
    box-sizing: border-box;
}

/* .square:hover {
    
    background-color: black;
} */

.footer {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(83, 81, 93);
}

#buttonAlert {
    position: absolute;
    left: 45.2%;
    top: 48.4vh;
    box-shadow: 10px 10px rgb(7, 8, 23);
}

#button {
    font-weight: 550;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    border: dashed 5px rgb(18, 24, 45);
    color: rgb(159, 161, 179);
    padding: 5px 10px;
    cursor: pointer;
    
}

#button:hover {
    background-color: rgb(27, 35, 65);
}

#buttonAlert.move {
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
    transform: translateX(-970px);
}

#buttonAlert.moved:hover {
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateX(-845px); 
}